@model IEnumerable<RegioesADO.Model.Regiao>

@{
    ViewBag.Title = "Cadastro de Regiões Fornecedor";
}

<table class="table" id="tblRegioes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado.UF)
            </th>
            <th>
                @Html.DisplayName("Região")
            </th>
            <th>
                @Html.DisplayName("Situação")
            </th>
            <th>
                @Html.DisplayName("Ações")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.UF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idRegiao }) |
                    @Html.ActionLink("Inativar", "Edit", new { id = item.idRegiao }) |
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Gravar" class="btn btn-default" />
    </div>
</div>
